
<form class="" action="/tasks" method="post">
  <input type="hidden" name="authenticity_token" value=" form_authenticity_token"/>
  <p>Enter New Task</p>
  <input type='text' name='task[title]' placeholder="title"/> <br/><br/>
  <textarea name='task[description]' rows="8" cols="80" placeholder="Description"></textarea> <br/><br/>
  <input type="submit" value="Send"/>
</form>
